.buscador{
    padding: 5px;
    width: 33%;
    margin-left: 33%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.buscar {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(226, 218, 218);
    cursor: pointer;
}

.clear {
    padding: 5px;
    background-color: gray;
    border-radius: 10px;
}