.itemDetail {
  background-color: #a3002e;
  border: 4px solid #69001e;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.button {
  padding: 5px;
  margin: 5px;
  border-radius: 20%;
  font-weight: 700;
  font: bold;
  background-color: #f8df22c0;
    &:hover{
        cursor: pointer;
    }
}

.buttonRed {
  padding: 5px;
  margin: 5px;
  border-radius: 20%;
  font-weight: 700;
  font: bold;
  background-color: rgb(204, 40, 40);
}

.addCount {
  padding: 5px;
}

.endBuy {
  background-color: red;

}

.fewLeft{
  color: rgb(158, 2, 2);
  font-size: large;
}
